body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
	
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
		color: #222;
}
img{
    border:0;
}
body{
    
}
/*去掉选中文本框时的边框*/
input,button,select,textarea{outline:none;}
/*固定文本框大小不可改变*/
textarea{
    resize:none;
}
div{box-sizing: border-box;}

.hand{cursor: pointer;}

/* 宽度 */
.w1200{width: 1200px;}
.w1000{width: 1000px;}

/* 层级 */
.z-9{z-index: 9;}
.z-10{z-index: 10;}
.z-99{z-index: 99;}
.z-100{z-index: 100;}
.z-999{z-index: 999;}
.z-1000{z-index: 1000;}

/* 透明度 */
.o0{opacity: 0;}
.o1{opacity: 1;}
.o2{opacity: 2;}
.o3{opacity: 2;}
.o4{opacity: 4;}
.o5{opacity: 5;}
.o6{opacity: 6;}
.o7{opacity: 7;}
.o8{opacity: 8;}
.o9{opacity: 9;}

.t-i-10{text-indent: 10px;}
.t-i-20{text-indent: 20px;}
.t-i-30{text-indent: 30px;}
.t-i-40{text-indent: 40px;}
.t-i-50{text-indent: 50px;}

/* 定位 */
.p-a{ position: absolute!important; }
.p-f{ position: fixed!important; }
.p-r{ position: relative!important; }
.p-s{position: sticky!important;}
.p-aXY{position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.p-aX{position: absolute;right: 0;left: 0;}
.p-aY{position: absolute;top: 0;bottom: 0;}
.p-fXY{position: fixed;top: 0;right: 0;bottom: 0;left: 0;}
.p-fX{position: fixed;right: 0;left: 0;}
.p-fY{position: fixed;top: 0;bottom: 0;}

/* 背景顏色 */
.bg-w{background-color: #fff;}
.bg-b{background-color: #000;}
.bg-f5{background-color: #f5f5f5;}

/* overflow */
.overflow-h{overflow: hidden;}
.overflow-a{overflow: auto;}
.overflow-s{overflow: scroll;}

/* 阴影 */
.shadow {box-shadow: 0 0 5px rgba(114, 130, 138, 0.3)!important;}
.shadow-sm {box-shadow: 0 2px 4px rgba(114, 130, 138, 0.2)!important;}
.shadow-lg {box-shadow: 0 16px 48px rgba(114, 130, 138, 0.2)!important;}

/* 字体 */
.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.font-26{font-size: 26px;}
.font-28{font-size: 28px;}
.font-30{font-size: 30px;}
.font-32{font-size: 32px;}
.font-34{font-size: 34px;}
.font-36{font-size: 36px;}
.font-40{font-size: 40px;}
.font-44{font-size: 44px;}
.font-48{font-size: 48px;}
.font-50{font-size: 50px;}
.font-60{font-size: 60px;}

.font-w{ font-weight: bold!important; }
.font-w-100{ font-weight: 100!important; }
.font-n{ font-weight:normal; }

.line-h0{ line-height: 0!important; }
.line-h1{ line-height: 1!important; }
.line-h1.2{ line-height: 1.2!important; }
.line-h1.5{ line-height: 1.5!important; }
.line-h2{ line-height: 2!important; }
.line-h3{ line-height: 3!important; }

.line-through{ text-decoration: line-through; }

.t-c{ text-align: center; }
.t-l{ text-align: left; }
.t-r{ text-align: right; }

/* 盒子元素属性 */
.d-b{display: block;}
.d-i-b{display: inline-block;}
.d-i{display: inline;}
.d-n{display: none;}

/* 位置 */
.l_0{left: 0;}
.r_0{right: 0;}
.t_0{top: 0;}
.b_0{bottom: 0;}

/* 浮动 */
.floatL{float: left;}
.floatR{float: right;}

/* 字体颜色 */
.color0{color: #000;}
.color2{color: #222;}
.color6{color: #666;}
.color8{color: #888;}
.color9{color: #999;}
.colorf{color: #fff;}
.colorr{color: #ff0101;}

/* 邊框 */
.b-f5{border: 1px solid #f5f5f5;}
.bT-f5{border-top: 1px solid #f5f5f5;}
.bL-f5{border-left: 1px solid #f5f5f5;}
.bR-f5{border-right: 1px solid #f5f5f5;}
.bB-f5{border-bottom: 1px solid #f5f5f5;}

.b-e1{border: 1px solid #e1e1e1;}
.bT-e1{border-top: 1px solid #e1e1e1;}
.bL-e1{border-left: 1px solid #e1e1e1;}
.bR-e1{border-right: 1px solid #e1e1e1;}
.bB-e1{border-bottom: 1px solid #e1e1e1;}

.b-0{border: 1px solid #000;}
.bT-0{border-top: 1px solid #000;}
.bL-0{border-left: 1px solid #000;}
.bR-0{border-right: 1px solid #000;}
.bB-0{border-bottom: 1px solid #000;}

.b-DBe1{border-bottom: 1px dashed #e1e1e1;}
.b-DTe1{border-top: 1px dashed #e1e1e1;}
.b-DLe1{border-left: 1px dashed #e1e1e1;}
.b-DRe1{border-right: 1px dashed #e1e1e1;}
.b-DBf5{border-bottom: 1px dashed #f5f5f5;}
.b-DTf5{border-top: 1px dashed #f5f5f5;}
.b-DLf5{border-left: 1px dashed #f5f5f5;}
.b-DRf5{border-right: 1px dashed #f5f5f5;}

.radius{ border-radius: 5px; }
.radius10{ border-radius: 10px; }
.radius20{ border-radius: 20px; }
.radius30{ border-radius: 30px; }
.radius50{ border-radius: 100px; }
.radius-0{ border-radius:0; }
.radius10-T{border-top-left-radius: 10px;border-top-right-radius: 10px;}
.radius20-T{border-top-left-radius: 20px;border-top-right-radius: 20px;}
.radius30-T{border-top-left-radius: 30px;border-top-right-radius: 30px;}
.radius40-T{border-top-left-radius: 40px;border-top-right-radius: 40px;}
.radius10-B{border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.radius20-B{border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.radius30-B{border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;}
.radius40-B{border-bottom-left-radius: 40px;border-bottom-right-radius: 40px;}
.radiusL{border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.radiusL-1{border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
.radiusL-2{border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.radiusL-3{border-top-left-radius: 30px;border-bottom-left-radius: 30px;}
.radiusL-4{border-top-left-radius: 40px;border-bottom-left-radius: 40px;}
.radiusL-c{border-top-left-radius: 50%;border-bottom-left-radius: 50%;}
.radiusR{border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.radiusR-1{border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
.radiusR-2{border-top-right-radius: 20px;border-bottom-right-radius: 20px;}
.radiusR-3{border-top-right-radius: 30px;border-bottom-right-radius: 30px;}
.radiusR-4{border-top-right-radius: 40px;border-bottom-right-radius: 40px;}
.radiusR-c{border-top-right-radius: 50%;border-bottom-right-radius: 50%;}
.radius-5{border-radius: 50%;}
.radius-c{ border-radius:100%; }

/* margin */
.m-a{margin: auto;}

.m-0 { margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 0;}
.m { margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px;}
.m-1 { margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;}
.m-2 { margin-left: 20px;margin-right: 20px;margin-top: 20px;margin-bottom: 20px;}
.m-3 { margin-left: 30px;margin-right: 30px;margin-top: 30px;margin-bottom: 30px;}
.m-4 { margin-left: 40px;margin-right: 40px;margin-top: 40px;margin-bottom: 40px;}
.m-5 { margin-left: 50px;margin-right: 50px;margin-top: 50px;margin-bottom: 50px;}

.mx-0 { margin-left: 0;margin-right: 0;}
.mx { margin-left: 5px;margin-right: 5px;}
.mx-1 { margin-left: 10px;margin-right: 10px;}
.mx-2 { margin-left: 20px;margin-right: 20px;}
.mx-3 { margin-left: 30px;margin-right: 30px;}
.mx-4 { margin-left: 40px;margin-right: 40px;}
.mx-5 { margin-left: 50px;margin-right: 50px;}

.my-0 { margin-top: 0;margin-bottom: 0;}
.my { margin-top: 5px;margin-bottom: 5px;}
.my-1 { margin-top: 10px;margin-bottom: 10px;}
.my-2 { margin-top: 20px;margin-bottom: 20px;}
.my-3 { margin-top: 30px;margin-bottom: 30px;}
.my-4 { margin-top: 40px;margin-bottom: 40px;}
.my-5 { margin-top: 50px;margin-bottom: 50px;}

.mt-0 { margin-top: 0;}
.mt { margin-top: 5px;}
.mt-auto { margin-top: auto;}
.mt-1 { margin-top: 10px;}
.mt-2 { margin-top: 20px;}
.mt-3 { margin-top: 30px;}
.mt-4 { margin-top: 40px;}
.mt-5 { margin-top: 50px;}

.mb-0 { margin-bottom: 0;}
.mb { margin-bottom: 5px;}
.mb-auto { margin-bottom: auto;}
.mb-1 { margin-bottom: 10px;}
.mb-2 { margin-bottom: 20px;}
.mb-3 { margin-bottom: 30px;}
.mb-4 { margin-bottom: 40px;}
.mb-5 { margin-bottom: 50px;}

.ml-0 { margin-left: 0;}
.ml { margin-left: 5px;}
.ml-auto { margin-left: auto;}
.ml-1 { margin-left: 10px;}
.ml-2 { margin-left: 20px;}
.ml-3 { margin-left: 30px;}
.ml-4 { margin-left: 40px;}
.ml-5 { margin-left: 50px;}

.mr-0 { margin-right: 0;}
.mr { margin-right: 5px;}
.mr-1 { margin-right: 10px;}
.mr-2 { margin-right: 20px;}
.mr-3 { margin-right: 30px;}
.mr-4 { margin-right: 40px;}
.mr-5 { margin-right: 50px;}

/* padding */
.p-0 {padding-left: 0;padding-right: 0;padding-top: 0;padding-bottom: 0;}
.p {padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom:5px;}
.p-1 {padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 10px;}
.p-2 {padding-left: 20px;padding-right: 20px;padding-top: 20px;padding-bottom: 20px;}
.p-3 {padding-left: 30px;padding-right: 30px;padding-top: 30px;padding-bottom: 30px;}
.p-4 {padding-left: 40px;padding-right: 40px;padding-top: 40px;padding-bottom: 40px;}
.p-5 {padding-left: 50px;padding-right: 50px;padding-top: 50px;padding-bottom: 50px;}

.px-0 { padding-left: 0;padding-right: 0;}
.px { padding-left: 5px;padding-right: 5px;}
.px-1 { padding-left: 10px;padding-right: 10px;}
.px-2 { padding-left: 20px;padding-right: 20px;}
.px-3 { padding-left: 30px;padding-right: 30px;}
.px-4 { padding-left: 40px;padding-right: 40px;}
.px-5 { padding-left: 50px;padding-right: 50px;}

.py-0 { padding-top: 0;padding-bottom: 0;}
.py { padding-top: 5px;padding-bottom: 5px;}
.py-1 { padding-top: 10px;padding-bottom: 10px;}
.py-2 { padding-top: 20px;padding-bottom: 20px;}
.py-3 { padding-top: 30px;padding-bottom: 30px;}
.py-4 { padding-top: 40px;padding-bottom: 40px;}
.py-5 { padding-top: 50px;padding-bottom: 50px;}

.pt-0 { padding-top: 0;}
.pt { padding-top: 5px;}
.pt-1 { padding-top: 10px;}
.pt-2 { padding-top: 20px;}
.pt-3 { padding-top: 30px;}
.pt-4 { padding-top: 40px;}
.pt-5 { padding-top: 50px;}

.pb-0 { padding-bottom: 0;}
.pb { padding-bottom: 5px;}
.pb-1 { padding-bottom: 10px;}
.pb-2 { padding-bottom: 20px;}
.pb-3 { padding-bottom: 30px;}
.pb-4 { padding-bottom: 40px;}
.pb-5 { padding-bottom: 50px;}

.pl-0 { padding-left: 0;}
.pl { padding-left: 5px;}
.pl-1 { padding-left: 10px;}
.pl-2 { padding-left: 20px;}
.pl-3 { padding-left: 30px;}
.pl-4 { padding-left: 40px;}
.pl-5 { padding-left: 50px;}

.pr-0 { padding-right: 0;}
.pr { padding-right: 5px;}
.pr-1 { padding-right: 10px;}
.pr-2 { padding-right: 20px;}
.pr-3 { padding-right: 30px;}
.pr-4 { padding-right: 40px;}
.pr-5 { padding-right: 50px;}

/* 行数显示省略号 */
.avoidOverflow{overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.avoidOverflow2{overflow: hidden;text-overflow: ellipsis;display:-webkit-box;display:-O-box;word-break:break-all;-webkit-box-orient:vertical; -webkit-line-clamp:2;}
.avoidOverflow3{ overflow: hidden; text-overflow: ellipsis;  display: -webkit-box;display:-O-box;display:-moz-box;word-break: break-all; -webkit-box-orient: vertical;-webkit-line-clamp: 3;}
.avoidOverflow4{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;display:-O-box;display:-moz-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 4; }
.avoidOverflow5{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;display:-O-box;display:-moz-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 5; }
.avoidOverflow6{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;display:-O-box;display:-moz-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 6; }
.avoidOverflow7{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;display:-O-box;display:-moz-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 7; }

/* flex布局 */
.d-flex{ display: flex;flex-direction: row!important; }

.flex{display: flex;align-items: center;}       /* 居中对齐 */
.flex0{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}     /*水平，垂直居中*/
.flex1{display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}     /*水平两端对齐，垂直居中*/
.flex2{display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap;}     /*水平两端间隔对齐，垂直居中*/
.flex3{display: flex;justify-content: space-between;align-items: start;flex-wrap: wrap;}     /*水平居中，垂直靠上*/
.flex4{display: flex;flex-direction: column;justify-content: center;align-items: center;}     /*改变主轴垂直，水平居中，垂直居中*/
.flex5{display: flex;flex-direction: column;justify-content: space-between;}     /*改变主轴垂直，垂直两端对齐*/
.flexX{display: flex;flex-wrap: nowrap;overflow-x: auto;}     /*水平滚动，内部子元素设置flex-shrink为0*/
.flexY{display: flex;flex-wrap: nowrap;overflow-y: auto;flex-direction: column;}     /*垂直滚动*/

.flex-1{ flex: 1; }
.flex-column{ flex-direction: column!important; }
.flex-row{ flex-direction: row; }
.flex-wrap{ flex-wrap: wrap; }
.flex-nowrap{ flex-wrap: nowrap; }
.flex-shrink{flex-shrink: 0;}
.j-start{ justify-content: flex-start; }
.j-center{ justify-content: center!important; }
.j-end{ justify-content: flex-end; }
.j-sb{ justify-content: space-between; }
.j-sa{justify-content: space-around;}
.a-center{ align-items:center!important; }
.a-start{ align-items: flex-start; }
.a-end{ align-items:flex-end; }
.a-stretch{ align-items: stretch; }
.a-self-start{ align-self: flex-start; }
.a-self-auto{ align-self: auto; }
.a-self-end{ align-self: flex-end; }
.a-self-stretch{ align-self:stretch; }
.a-self-baseline{ align-self:baseline; }

/* 宽度 */
.w-10{width: 10%;}
.w-15{width: 15%;}
.w-20{width: 20%;}
.w-25{width: 25%;}
.w-30{width: 30%;}
.w-33{width: 33.33%;}
.w-40{width: 40%;}
.w-50{width: 50%;}
.w-60{width: 60%;}
.w-70{width: 70%;}
.w-80{width: 80%;}
.w-90{width: 90%;}
.w-100{width: 100%;}

/* 高度 */
.h-10{height: 10%;}
.h-15{height: 15%;}
.h-20{height: 20%;}
.h-25{height: 25%;}
.h-30{height: 30%;}
.h-33{height: 33.33%;}
.h-40{height: 40%;}
.h-50{height: 50%;}
.h-60{height: 60%;}
.h-70{height: 70%;}
.h-80{height: 80%;}
.h-90{height: 90%;}
.h-100{height: 100%;}


.line-y{height: 50%;background-color: #e1e1e1;width: 1px;margin: auto;}